{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
</head>
<body class="h-100">
    <div   class="h-100 d-flex align-items-center justify-content-center ">
        
        <div style="width: 300px;">
            <h3 class="mb-4">Log in to your account</h3>
            {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %} alert-danger {% else %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
            {% endfor %}
            {% endif %}
            <form method="post" action="{% url 'accounts:login' %}">
                {% csrf_token %}
                <!-- Username input -->
                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="form2Example1">Username or Email</label>
                  <input type="text" name="username" id="form2Example1" class="form-control" />
                </div>
              
                <!-- Password input -->
                <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="form2Example2">Password</label>
                  <input type="password" name="password" id="form2Example2" class="form-control" />
                </div>
              
                <!-- Submit button -->
                <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Log in</button>
              
                <!-- Register buttons -->
                <div class="text-center">
                  <p>Forget your password? <a href="{% url 'accounts:password_reset' %}" style="color: dodgerblue;font-weight:500;">Reset Password</a></p>
                </div>
                <div class="text-center">
                  <p>Don&#39;t have an account? <a href="{% url 'accounts:signup' %}" style="color:dodgerblue;font-weight:500;">Register</a></p>
                </div>
                
            </form>

        </div>
      </div>
   
</body>
</html>
