{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
</head>
<body class="h-100">
    <div  class="h-100 d-flex align-items-center justify-content-center ">
        <div style="width:500px;background-color: lightgrey;padding:5px">
            <form method="post">
                {% csrf_token %}
                <h2 class="mb-4">Reset Password</h2>
                {% for field in form %}
                        {{ field.label_tag }} 
                        {{ field }}
                        {% if field.errors %}
                            <small>{{ field.errors|striptags  }}</small> 
                        {% endif %}
                {% endfor %}
                <div class="form-buttons mt-4 mb-4">
                    <input type="submit" value="Send" class="btn btn-primary">
                    <a href="{%url 'accounts:login' %}"  class="btn btn-outline">Cancel</a>
                </div>
            </form>
            </div>
    </div>
   
</body>
</html>
